{
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  globals: {
    "require": true,
    "module": true,
    "__dirname": true,
    "React": true,
    "Promise": true,
    "setTimeout": true,
    "document": true
  },
  rules: {
    "react/prop-types": 0,
    "react/display-name": 0,
  }
}
