@defaultFont: "Avenir Next", "AvenirNext", -apple-system, BlinkMacSystemFont,
"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
"Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

// SI Colour Palette
@SIDarkBlue: #285796;
@SIDesertRed: #e06839;
@SILightBlue: #f8fbfd; //tint(@SIBlue, 96%);
@SILightGreen: #aeef88;
@SIMainGreen: #2ecd72;
@SIMainRed: #ff333a;
@SIOrangeLight: #fff7d9;
@SIOrange: #ffcc00;
@SIPastelBlue: #a0c0da;
@SISalmonLight: #fff0f0;
@SISalmon: #ff9797;
@SISkyBlue: #63b5ff;
@SISkyBlueLight: #c9e5ff; //lighten(@SISkyBlue, 20);
@SIYellowMid: #ffd633;
@SIYellowOrange: #fcac53;
@SIPurple: #9ea5cc;

@SIYellowOrangeDark: #d17918;
@SISalmonDark: #e75c5c;

@SIBlack: #161B1E;
@SIGray1: #424649;
@SIGray2: #8A8E91;
@SIGray3: #A1A7AB;
@SIGray4: #BABFC2;
@SIGray5: #DADEE1;
@SIGray6: #EBEDEE;
@SIGray7: #F5F5F5;
@SIGray8: #FAFAFA;

// New Colour palette
@SIBlueLight: #eff7ff;
@SIBlue: #4495d8;
@SIBlueDark: #285796;

@SIGreenLight: #eafaf0;
@SIGreen: @SIMainGreen;
@SIGreenDark: #08994e;

@SIRedLight: #fff3f3;
@SIRed: #ff333a;

@SIYellowLight: #fff8d9;
@SIYellow: #ffcc00;

@fontSizeS: 13px;
@fontSize: 15px;
@fontSizeL: 18px;
@fontSizeXL: 22px;
@fontSizeXXL: 26px;
@fontSizeJumbo: 60px;

@standardpadding: 20px;

@subduedTextOnGrey: @SIGray2;
@subduedTextOnWhite: @SIGray3;

@avatarSizeXS: 20px;
@avatarSizeS: 25px;
@avatarSizeM: 30px;
@avatarSizeL: 50px;
@avatarSizeXL: 100px;

@fontWeightLight: 400;
@fontWeight: 400;
@fontWeightBold: 500; // is actually medium typeface
@fontWeightBolder: 600; // is actually demibold typeface

@borderColor: @SIGray5;
@border: 1px solid @borderColor;



