@xs: 20px;
@s: 25px;
@m: 30px;
@l: 50px;
@xl: 100px;


.extraSmall {
    width: @xs;
    height: @xs;
}

.small {
    width: @s;
    height: @s;
}

.medium {
    width: @m;
    height: @m;
}

.large {
    width: @l;
    height: @l;
}

.xLarge {
    width: @xl;
    height: @xl;
}

.round {
    border-radius: 50%;
}

